# Site settings
course_name: Natural Language Processing
course_description: "This course introduces students to the fundamental concepts and techniques in Natural Language Processing (NLP). Students will learn about text processing, language models, machine translation, sentiment analysis, and modern deep learning approaches for NLP tasks. Through lectures, assignments, and hands-on projects, students will gain practical experience in building and applying NLP systems to real-world problems."
course_semester: "Spring 2026"

baseurl: "/hkustgz-nlp" # the subpath of your site, e.g. /blog/
url: "https://chenrf1121.github.io/" # the base hostname & protocol for your site

schoolname: "HKUST-GZ"
schoolurl: "https://www.hkust-gz.edu.cn/"
twitter_username: HKUST_GZ

address: |
    Hong Kong University of Science and Technology (Guangzhou)
    No. 1 Du Xue Rd, Qingshuihe Campus
    Nansha District, Guangzhou, 511400
    China

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
