# Site settings
course_name: Natural Language Processing
course_description: "This course provides students with a deep understanding of how computational systems process and generate human languages. The curriculum bridges foundational linguistic theories with cutting-edge deep learning techniques, moving from classic N-gram models and Hidden Markov Models to modern Transformer architectures and Large Language Models (LLMs). The course explores critical topics such as tokenization, embeddings, syntactic parsing, and machine translation, while also diving into advanced contemporary subjects like Reinforcement Learning from Human Feedback (RLHF), Retrieval-Augmented Generation (RAG), and model compression. Assessments include in-class quizzes, a closed-book final exam, one homework, one individual coding project, and a significant final team research project that includes a poster presentation and technical report. Students will gain the expertise necessary to build, evaluate, and analyze sophisticated NLP systems capable of addressing real-world challenges in the rapidly evolving AI landscape."
course_semester: "Spring 2026"

baseurl: "/hkustgz-nlp" # the subpath of your site, e.g. /blog/
url: "https://chenrf1121.github.io/" # the base hostname & protocol for your site

schoolname: "HKUST-GZ"
schoolurl: "https://www.hkust-gz.edu.cn/"
twitter_username: HKUST_GZ

address: |
    Hong Kong University of Science and Technology (Guangzhou)
    No. 1 Du Xue Rd, Qingshuihe Campus
    Nansha District, Guangzhou, 511400
    China

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
