<div class="col col-1" data-label="Event">Lecture</div>
<div class="col col-1-2" data-label="Date">
    {{ include.event.date | date: site.dateformat }}
    <br class="date-spliter"/>{{ include.event.date | date: "%A" }}
</div>
<div class="col col-2" data-label="Description">
    {{ include.event.title }}
    <div class="schedule-lecture-links">
    {% include lecture_links.html lecture=include.event %}
    </div>
    {% if include.event.readings %}
    <p style="margin-bottom: 2px; margin-top: 8px; font-weight: bold;">Further Readings:</p>
    <ul style="font-size: 0.9em; margin-left: 20px;">
        {% for m in include.event.readings %}
        <li class="raw_li">
            {% if m.url %}
                <a href="{{ m.url }}">{{ m.title }}</a>
            {% else %}
                {{ m.title }}
            {% endif %}
            {% if m.authors %} - {{ m.authors }}{% endif %}
            {% if m.year %} ({{ m.year }}){% endif %}
            {% if m.note %}<br/><em>{{ m.note }}</em>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="col col-4 markdown-content" data-label="Course Material">
    {% if include.event.content != '' %}
    {{ include.event.content }}
    {% endif %}
</div>